@use "../variables" as *;

.download-select {
  .label {
    display: inline-block;
    font-size: var(--font-size-body);
  }

  .custom-select {
    display: inline-block;
    position: relative;
    width: fit-content;
    min-width: 12rem;
    margin-block: 1rem;
    font-size: var(--font-size-body);
    user-select: none;
    z-index: 5;
    margin-inline: 1rem;

    .select-trigger {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.25rem 1rem;
      background-color: hsl(var(--bg-primary-val));
      border: 0.125rem solid hsl(var(--tx-primary-val));
      border-radius: var(--radius-lg);
      cursor: pointer;
      transition: all 200ms ease;

      &:hover {
        border-color: hsl(var(--tx-accent-val));
        background-color: hsla(var(--tx-accent-val), 0.1);
      }

      &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-color: hsl(var(--tx-accent-val));
        background-color: hsla(var(--tx-accent-val), 0.05);
      }

      .arrow {
        width: 0.5rem;
        height: 0.5rem;
        border-right: 0.125rem solid currentColor;
        border-bottom: 0.125rem solid currentColor;
        $translate: -0.1rem;
        transform: rotate(45deg) translate($translate, $translate);
        transition: transform 200ms ease;
        margin-left: 1.5rem;

        &.open {
          $translate: -0.125rem;
          transform: rotate(-135deg) translate($translate, $translate);
        }
      }
    }

    .select-options {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: hsl(var(--bg-primary-val));
      border: 0.125rem solid hsl(var(--tx-accent-val));
      border-top: none;
      border-bottom-left-radius: var(--radius-lg);
      border-bottom-right-radius: var(--radius-lg);
      box-shadow: var(--box-shadow-lg);

      // Animation
      opacity: 0;
      transform: translateY(-0.625rem);
      pointer-events: none;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      overflow: hidden;

      &.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }

    .select-option {
      padding: 0.25rem 1rem;
      cursor: pointer;
      transition: background-color 150ms ease;

      &:hover {
        background-color: hsla(var(--tx-accent-val), 0.2);
        color: hsl(var(--tx-accent-val));
      }

      &.selected {
        background-color: hsla(var(--tx-accent-val), 0.4);
        color: hsl(var(--tx-accent-val));
        font-weight: bold;
      }

      &:last-child {
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);
      }
    }
  }
}

.compatibility-footnote {
  p {
    font-size: var(--font-size-small) !important;
    color: var(--tx-secondary);
  }
}
