// Header
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  .header-box {
    display: block;
    padding-block: 3rem;
    max-width: 80rem;
    margin: 0 auto;
    padding-inline: 6rem;

    .header-content {
      width: fit-content;
      padding: 1rem;
      border-radius: var(--radius-lg);
      box-shadow: var(--box-shadow-lg);
      background-color: hsla(var(--bg-primary-val), 75%);
      backdrop-filter: blur(0.25rem);
      border: 0.125rem solid hsla(var(--tx-secondary-val), 25%);
      display: block;
    }
  }
}

// Navigation
nav {
  text-align: center;
  .nav-container {
    background-color: hsla(var(--bg-accent-val));
    color: hsl(var(--tx-primary-val));
    padding: 1rem;
    max-width: 80rem;
    display: inline-flex;
    width: 100%;
    border-radius: var(--radius-lg);
    margin-top: 1rem;
    border: 0.125rem solid hsla(var(--tx-contrast-accent-val), 30%);
    box-shadow: 0 0 .2rem hsla(var(--tx-contrast-accent-val), 50%);
    
    .nav-col {
      display: inline-block;
      width: 50%;
    }

    .nav-title {
      display: inline-block;
      text-align: center;
      padding-inline: 1rem;
      padding-block: 0.25rem;
      font-weight: 600;
      background-color: hsla(var(--bg-primary-val), 75%);
      border-radius: var(--radius-lg);
      min-width: fit-content;
      flex-basis: fit-content;
      

      a {
        font-size: var(--font-size-nav);
        letter-spacing: 0.5pt;
        padding: 0.1875rem 0.5rem;
        text-decoration: none;
        color: inherit;

        &:hover {
          color: hsl(var(--tx-accent-val));
          cursor: pointer;
        }
      }
    }

    .nav-router {
      display: inline-block;
      flex-basis: 100%;
      text-align: right;
      
      .nav-item {
        display : inline-block;
      }
    }
  }

  .sub-navigation {
    background-color: hsl(var(--bg-secondary-val));
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: right;
    display: inline-block;
    width: 100%;
    max-width: 75rem;
    border-bottom-left-radius: var(--radius-lg);
    border-bottom-right-radius: var(--radius-lg);

    .nav-item a {
      color: hsl(var(--tx-primary-val));

      &:hover {
        color: hsl(var(--tx-accent-val)) !important;
        box-shadow-color: hsl(var(--tx-accent-val)) !important;
        border-color: hsl(var(--tx-accent-val)) !important;
        border-radius: var(--radius-lg);
      }
    }
    .active a {
      color: hsl(var(--tx-accent-val)) !important;
      cursor: pointer;
      font-weight: 600;
      border-radius: 0;
      border: 0.125rem solid transparent !important;
      border-bottom-color: hsl(var(--tx-accent-val)) !important;

      &:hover {
        border: 0.125rem solid hsl(var(--tx-primary-val)) !important;
        color: hsl(var(--tx-primary-val)) !important;
        border-radius: var(--radius-lg);
      }
    }
    .nav-arrow {
      display: inline-block;
      padding-inline: 0.5rem;
      color: hsl(var(--tx-primary-val));
    }
  }

  .active a {
    color: hsl(var(--tx-accent-val)) !important;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0;
    border: 0.125rem solid transparent !important;
    border-bottom-color: hsl(var(--tx-accent-val)) !important;

    &:hover {
      border: 0.125rem solid hsl(var(--tx-primary-val)) !important;
      color: hsl(var(--tx-primary-val)) !important;
      border-radius: var(--radius-lg);
    }
  }

  .nav-item {
    display: inline-block;
    flex-basis: 2.5rem;
    text-align: center;
    padding-inline: 1rem;
    padding-block: 0.25rem;

    a {
      font-size: var(--font-size-nav);
      letter-spacing: 0.5pt;
      padding: 0.1875rem 0.5rem;
      border-radius: var(--radius-lg);
      border: 0.125rem solid transparent;
      box-shadow: 0 0 hsl(var(--tx-accent-val));
      text-decoration: none;
      color: inherit;

      &:hover {
        color: hsl(var(--tx-accent-val));
        box-shadow: 0 0 0.1875rem hsl(var(--tx-accent-val));
        border-color: hsl(var(--tx-accent-val));
        cursor: pointer;
      }
    }
  }
}

// Navigation and Header Mobile Responsive
@media screen and (max-width: 720px) {
  header {
    .header-box {
      padding-inline: 1rem;
      margin-top: 2rem;
      text-align: center;

      .header-content {
        display: inline-block;
      }
    }
  }

  nav {
    .nav-container {
      display: inline-block;
      padding: 0.5rem 0;
      border-radius: 0;
      max-width: 100%;
      border-inline-width: 0;
      margin-bottom: 0;

      .nav-title {
        display: block;
        margin-bottom: 1rem;
        margin-inline: auto;
        width: 80%;
      }

      .nav-router {
        display: flex;
        text-align: center;

        .nav-item {
          display: inline-block;
          margin-bottom: 0.5rem;
        }
      }
    }

    .sub-navigation {
      text-align: center;
      border-radius: var(--radius-lg);
      margin-top: 0;
      display: inline-block;
      margin-inline: 0;
      padding-inline: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;

      .nav-item {
        display: inline-block;
        margin-block: 0.25rem;
      }

      .nav-arrow {
        display: none;
      }
    }
  }
}

// Footer Styling
footer {
  background-color: hsl(var(--bg-secondary-val));
  padding: 1rem;
  text-align: center;
  nav {
    padding-bottom: 2rem;
    text-align: center;
    ul {
      display: inline-block;
      width: 100% !important;
      list-style-type: none;
      padding: 0;
      text-align: center;
      h2 {
        margin-block: 0;
      }
      li {
        display: inline-block;
        padding: 0.5rem;

        a {
          color: hsl(var(--tx-primary-val));
          display: flex;
          align-items: center;
          gap: 0.5rem;
          text-decoration: none;

          &:hover {
            color: hsl(var(--tx-accent-val));
          }
        }
      }
    }
  }
}
