/* Heading */
@font-face {
  font-family: "Marhey";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/google/marhey-300-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Marhey";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google/marhey-400-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Marhey";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/google/marhey-500-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Marhey";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/google/marhey-600-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Marhey";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/google/marhey-700-normal.ttf") format("truetype");
}

/* Body */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google/noto-sans-400-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/google/noto-sans-700-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google/noto-sans-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/google/noto-sans-700-italic.ttf") format("truetype");
}

/* Monospace */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google/source-code-pro-400-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/google/source-code-pro-600-normal.ttf") format("truetype");
}

@font-face {
  font-family: "Source Code Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/google/source-code-pro-400-italic.ttf") format("truetype");
}
