.tooltip-container {
  display: inline-block;
  position: relative;

  .tooltip {
    position: absolute;
    opacity: 0;
    width: 12rem;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    font-size: 0.875rem;
    z-index: 10;
    pointer-events: none;
    text-align: center;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.1);
  }

  &:hover {
    .tooltip {
      opacity: 1;
    }
  }
}
