# Build outputs
.nitro/
.output
.solid-start/
.vercel
.vinxi
dist
.netlify
.wrangler

# Logs
*.log

# Lockfiles and package manager cache
pnpm-lock.yaml
uv.lock
.pnpm-store

# Environment
.env
.env*.local
.venv/

# Dependencies
/node_modules

# IDEs and editors
/.idea
.classpath
*.launch
.project
.settings/

# OS files
.DS_Store
Thumbs.db
