dist
.wrangler
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js
.image-backup
*.log
.solid-start/
.nitro/


# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db
