@import "tailwindcss";
:root {
  --card-heading-bg: linear-gradient(0deg, hsl(240, 18%, 83%), hsl(207, 27%, 87%));
}
@media (prefers-color-scheme: dark) {
  :root {
    --card-heading-bg: linear-gradient(90deg, hsl(180, 3%, 13%) 0%, hsl(163, 9%, 15%) 100%);
  }
}
.body-content {
  @apply max-w-screen-xl text-[14pt] mx-auto my-0 px-20 py-0;
  @apply my-10;
}
.rigs .about-section {
  @apply indent-8;
}
.rigs .cards {
  @apply text-left px-0 py-8;
}
.rigs .cards .rig-card {
  @apply w-full inline-block border-[color:var(--bg-secondary)] bg-cover bg-center shadow-lg text-left indent-8 p-8 rounded-md border-2 border-solid;
  background: var(--bg-gradient);
}
.rigs .cards .rig-card .card-header {
  @apply bg-transparent indent-0 mb-4 px-8 py-4 rounded-lg;
}
.rigs .cards .rig-card .card-header img {
  @apply w-full max-w-[540px] mx-auto my-0;
}
.rigs .cards .rig-card h2 {
  @apply border-b-[color:var(--bg-secondary)] mb-4 px-0 py-4 border-b-2 border-solid;
}
