@import "tailwindcss";
.about-content {
    text-align: center;
}
.about-content p {
    max-width: 1280px;
    display: inline-block;
}
.page-summary {
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(10px);
}
.summary-sizing {
    text-align: center;
    justify-content: center;
    background-color: #ffffff75;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.557) 0%, hsla(171, 10%, 62%, 0.75) 100%);
    @apply backdrop-blur-md py-10 ;
}
.summary-letterbox {
    max-width: 1280px;
    display: inline-block;
}
.page-summary .summary-flex {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    @apply gap-10;
}
.page-summary .summary-flex .flex-item {
    margin: auto 0;
    display: inline-block;
    @apply mx-5;

}
.page-summary .summary-flex .description {
    flex-basis: 30%;
    min-width: 500px;
}
.summary-flex .description .btn {
    @apply mx-2;
}