

.navigation-bar {
  display: flex;
  padding: .5rem 1rem;
  background-color: var(--bg-2);
  background-image: linear-gradient(to top, hsla(0,0%,0%,5%), hsla(0,0%,0%,0));
  border-bottom: 1px solid #ccc;

  nav {
    ul {
      gap: 1rem;
      list-style-type: none;
    }
  }

  &__logo_router {
    font-size: var(--text-size-heading-1);
  }

  &__main-router {
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: right;

      li {
        display: inline-block;
        flex-basis: fit-content;

        a {
          --border-width: .15rem;
          padding:  .5rem 1rem;
          font-size: var(--text-size-primary);
          text-decoration: none;
          color: var(--tx-1);
          background-color: hsla(0, 0%, 100%, 0);
          backdrop-filter: blur(10px);
          border-radius: 1rem;
          line-height: var(--text-size-primary);
          border: var(--border-width) solid hsla(0, 0%, 100%, 0);
          box-shadow: 0 0 0 var(--tx-1-contrast);

          &:hover {
            border: var(--border-width) solid var(--accent);
            box-shadow: 0 0 10px var(--accent);
          }
        }
      }
    }
  }
}
