@use "../variables" as *;

#downloads {
	.build-select {
		overflow: hidden;
		padding: 0;
		position: relative;
		display: flex;
		width: fit-content;
		
		.tab-indicator {
			position: absolute;
			background-color: var(--bg-accent);
			transition: all 250ms ease-in-out;
			border-top-left-radius: var(--radius-lg);
			border-top-right-radius: var(--radius-lg);
			z-index: 0;
			border: 0.125rem solid var(--bg-accent);
			box-sizing: border-box;
			top: 0;
			left: 0;
		}
		
		.tab {
			cursor: pointer;
			padding: .5rem 1rem;
			border: 0.125rem solid var(--bg-accent);
			display: inline-block;
			min-width: 4rem;
			width: fit-content;
			text-align: center;
			position: relative;
			z-index: 1;
			transition: color 250ms ease-in-out, background-color 250ms ease-in-out;
			border-top-right-radius: var(--radius-lg);
			border-top-left-radius: var(--radius-lg);
			border-bottom-width: 0;
			
			&:hover {
				color: var(--tx-contrast-accent);
				background-color: hsla(var(--bg-contrast-light-val), 0.1);
			}
			
			&:first-child {
				border-top-left-radius: var(--radius-lg);
			}
			
			&:last-child {
				border-top-right-radius: var(--radius-lg);
			}
		}
		
		.tab.active {
			color: var(--tx-accent);
			background-color: transparent !important; // Use transparent since indicator provides background
			cursor: default;
			
			&:hover {
				color: var(--tx-accent);
				background-color: transparent !important;
			}
		}
	}
	
	.download-info {
		border-radius: var(--radius-lg);
		border-top-left-radius: 0;
		border: 0.125rem solid var(--bg-accent);
		margin-bottom: 1rem;
		padding: 1rem;
		
		&.no-tabs {
			border-top-left-radius: var(--radius-lg);
		}
		
		.download-spec {
		
		}
		
		.download-link {
			display: inline-block;
			
			&.disabled {
				pointer-events: none;
				opacity: 0.5;
				filter: grayscale(1);
			}
			
			a {
				align-items: center;
				padding: 0.25rem 1rem;
				background-color: hsl(var(--bg-primary-val));
				border: 0.125rem solid hsl(var(--tx-primary-val));
				border-radius: var(--radius-lg);
				cursor: pointer;
				transition: all 200ms ease;
				font-size: var(--font-size-body);
				color: white;
				
				&:hover {
					border-color: hsl(var(--tx-accent-val));
					background-color: hsla(var(--tx-accent-val), 0.1);
				}
			}
		}
	}
}