@use "variables" as *;

.content-container {
  section {
    hero-landing {
      div {
        display: inline-block;
        width: fit-content;
        margin-top: 1rem;

        a {
          display: inline-block;
          margin-right: 1.5rem;
          border-radius: var(--radius-md);
          padding: 0.5rem 1rem;
          width: fit-content !important;
          color: hsl(var(--tx-primary-val));
          align-items: center;
          justify-content: center;
          text-decoration: none;
          font-size: var(--font-size-body);

          &:hover {
            color: hsl(var(--tx-accent-val));
            background-color: hsla(var(--bg-accent-val), 0.1);
          }
        }
        &.resume {
          transform: translateY(-0.45rem);
        }
      }
    }

    &#notable-projects {
      grid-container {
        grid-item {
          .notable-img {
            border-radius: var(--radius-md);
          }
          .projects-link {
            display: flex;
            text-align: center;
            flex-direction: row;
            justify-content: center;
            gap: 0.5rem;
            a {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

