// Colors
:root {
  /* Defaults */
  --bg-primary-val: hsl(0, 0%, 97%);
  --bg-secondary-val: hsl(0, 0%, 90%);
  --bg-accent-val: hsl(340, 33%, 83%, 0.5);
  --bg-contrast-light-val: hsl(0, 0%, 20%);
  --bg-contrast-dark-val: hsl(0, 0%, 10%);
  --bg-dark-accent-val: hsl(334, 79%, 29%);

  --bg-gradient: linear-gradient(0deg, hsl(240, 23%, 97%), hsl(206, 100%, 97%));

  --tx-primary-val: hsl(0, 0%, 0%);
  --tx-secondary-val: hsl(0, 0%, 14%);
  --tx-accent-val: hsl(334, 50%, 15%);
  --tx-contrast-light-val: hsl(0, 0%, 90%);
  --tx-contrast-dark-val: hsl(0, 0%, 80%);
  --tx-contrast-accent-val: hsl(328, 62%, 85%);

  --tx-gradient: linear-gradient(
                  90deg,
                  hsl(297, 96%, 57%) 0%,
                  hsl(328, 87%, 51%) 100%
  );

  /* Fonts */
  --font-main: "Open Sans", sans-serif;
  --font-heading: "Source Sans Pro", serif;
  --font: var(--font-main);
  --font-weight: 400;
  --font-heading-weight: 600;

  --font-size-heading: 1.75rem;
  --font-size-subheading: 1.25rem;
  --font-size-body: 1.125rem;
  --font-size-small: 0.8333rem;
  --font-size-nav: 1rem;
  --font-size-xxs: 0.6667rem;

  /* Box Shadows */
  --box-shadow-xsm: 0 0.1875rem 0.3125rem -0.0625rem hsla(0, 0%, 0%, 0.2),
  0 0.125rem 0.3125rem 0 hsla(0, 0%, 0%, 0.14),
  0 0.0625rem 0.625rem 0 hsla(0, 0%, 0%, 0.06);
  --box-shadow-sm: 0 0.1875rem 0.3125rem -0.0625rem hsla(0, 0%, 0%, 0.2),
  0 0.3125rem 0.5rem 0 hsla(0, 0%, 0%, 0.14),
  0 0.0625rem 0.875rem 0 hsla(0, 0%, 0%, 0.12);
  --box-shadow-lg: 0 0.1875rem 0.3125rem -0.0625rem hsla(0, 0%, 0%, 0.46),
  0 0.3125rem 0.5rem 0 hsla(0, 0%, 0%, 0.47),
  0 0.0625rem 0.875rem 0 hsla(0, 0%, 0%, 0.21);

  --drop-shadow: drop-shadow(0.25rem 0.5rem 0.25rem hsla(0, 0%, 10%, 0.25));

  // Radius
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-xl: 1rem;
}

// Mobile Responsive Variables
@media screen and (max-width: 720px) {
  :root {
    --font-size-heading: 1.5rem;
    --font-size-subheading: 1.25rem;
    --font-size-body: 1.125rem;
    --font-size-small: 1rem;
    --font-size-nav: 0.875rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary-val: 260, 2.5%, 5%;
    --bg-secondary-val: 260, 10%, 6.5%;
    --bg-accent-val: 334, 50%, 20%, 0.5;
    --bg-contrast-light-val: 0, 0%, 80%;
    --bg-contrast-dark-val: 0, 0%, 70%;
    --bg-contrast-accent-val: 320, 80%, 80%;
    --bg-gradient: linear-gradient(
                    45deg,
                    hsl(240, 5%, 5%) 0%,
                    hsl(168, 5%, 6%) 100%
    );

    --bg-gradient-dark: linear-gradient(
                    45deg,
                    hsla(330, 23%, 10%, 0),
                    hsla(310, 100%, 10%, 0.5)
    );

    --tx-primary-val: 190, 8%, 85%;
    --tx-secondary-val: 0, 0%, 78%;
    --tx-accent-val: 328, 62%, 85%;

    --tx-contrast-light-val: 0, 0%, 10%;
    --tx-contrast-dark-val: 0, 0%, 30%;
    --tx-contrast-accent-val: 320, 82%, 20%;
    --tx-gradient: linear-gradient(
                    90deg,
                    hsl(299, 83%, 84%) 0%,
                    hsl(328, 53%, 61%) 100%
    );
  }
}
