@import "tailwindcss";
:root {
  --nav-menu-voffset: -235px;
  --heading-font:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* My Box Shadow */
  --box-shadow-xsm:
    0px 3px 5px -1px #00000033, 0px 2px 5px 0px #00000024,
    0px 1px 10px 0px #00000010; /* var(--box-shadow-sm) */
  --box-shadow-sm:
    0px 3px 5px -1px #00000033, 0px 5px 8px 0px #00000024,
    0px 1px 14px 0px #0000001f; /* var(--box-shadow-sm) */
  --box-shadow-lg:
    0px 3px 5px -1px #00000075, 0px 5px 8px 0px #00000079,
    0px 1px 14px 0px #00000036; /* var(--box-shadow-lg) */
  --box-shadow-inset-xsm:
    0px 3px 5px -1px inset #00000033, 0px 2px 5px 0px inset #00000024,
    0px 1px 10px 0px inset #00000010; /* var(--box-shadow-sm) */
  --box-shadow-inset-sm:
    0px 3px 5px -1px inset #00000033, 0px 5px 8px 0px inset #00000024,
    0px 1px 14px 0px inset #0000001f; /* var(--box-shadow-sm) */
  --box-shadow-inset-lg:
    0px 3px 5px -1px inset #00000075, 0px 5px 8px 0px inset #00000079,
    0px 1px 14px 0px inset #00000036; /* var(--box-shadow-lg) */
}
body {
  @apply bg-gray-200 text-center align-middle;
}
* {
  @apply duration-200;
}
p {
  @apply mt-2 mb-3 cursor-default text-lg;
}
h2 {
  @apply text-xl font-bold;
}
.btn {
  display: inline-block;
  @apply w-auto justify-center rounded-md border-2 border-gray-300 bg-white/80 p-1 px-5 text-black transition duration-200;
}
.btn:hover {
  @apply scale-110 cursor-pointer bg-pink-100;
}
.link {
    @apply text-pink-950;
    box-shadow: 0 0px var(--color-pink-600);
}
.link:hover {
    cursor: pointer;
    box-shadow: 0 3px var(--color-pink-600);
    @apply text-pink-600;
}
.top-nav {
  position: fixed;
  top: 0;
}
.navbar-box {
  box-shadow: var(--box-shadow-lg);
  max-width: 1280px;
  z-index: 60;

  @apply overflow-clip rounded-b-xl px-5;
}
.navbar-box .col {
  flex-basis: 50%;
  height: fit-content;
  @apply my-0;
}
.navbar-splash-text {
  font-family: var(--heading-font);
  letter-spacing: .25px;
}
.navbar-menu-icon {
  font-family: var(--heading-font);
  letter-spacing: .25px;
}
.navbar-menu-icon:hover {
  background-color: pink;
}
.nav-menu-container {
  max-width: 1280px;
  height: 0px;
  opacity: 0%;
}
.nav-menu-container[data-expanded] {
  transform: scaleY(100%);
  height: 230px;
  opacity: 100%;
}
.nav-menu-flex {
  transition-duration: 200ms;
  box-shadow: var(--box-shadow-lg);
  pointer-events: default;
  overflow: clip;
  height: 200px;
  z-index: 50;

  @apply p-5;
}
.nav-menu-column {
  flex-basis: 33%;
}
.nav-menu-column h2 {
  font-size: 18px;
}
.nav-menu-column hr {
  margin: 5px 0;
}
.nav-menu-column ul li a:hover {
  background-color: rgba(255, 217, 224, 0.879);
  box-shadow: var(--box-shadow-sm);
}
/* Header */
.header-content {
  @apply text-center;
}
.title {
  box-shadow: var(--box-shadow-lg);

  @apply inline-block rounded-2xl bg-black/50 px-30 py-10 backdrop-blur-sm;
}
.title h1 {
  @apply text-2xl font-bold text-white;
}
.title p {
  @apply mb-0 text-xl text-[#d9d9d9];
}
.body-content {
  --margin: 10%;
  padding-left: var(--margin);
  padding-right: var(--margin);
  background: #f5f5f5;
  @apply py-1;
}

.section-header {
  text-align: center;
  font-family: var(--heading-font);
  cursor: default;
}
.section-header h1 {
  font-size: 20px;
  box-shadow: var(--box-shadow-lg);
  pointer-events: none;
  @apply my-4 inline-block w-fit rounded-md bg-gray-800 px-10 py-3 font-bold text-white;
}
.section-header h2 {
  font-size: 18px;
  box-shadow: var(--box-shadow-lg);
  pointer-events: none;
  @apply my-4 inline-block w-fit rounded-md bg-gray-800/90 px-10 py-2 text-white;
}
.subsection-header {
  font-size: 18px;
  text-align: center;
  font-family: var(--heading-font);
}
.subsection-header h2 {
  @apply my-4 inline-block w-fit rounded-md bg-gray-400/50 px-5 py-2 font-bold text-black;
}


hr {
  --margin: 20px;
  margin-top: var(--margin);
  margin-bottom: var(--margin);
}

img {
  box-shadow: var(--box-shadow-lg);
  max-height: 300px;
  @apply rounded-lg;
}
.vseparator {
  width: 2px;
  background-color: #00000090;
}