@import "tailwindcss";
* {
  @apply duration-200;
}
.btn {
  @apply w-auto justify-center rounded-md border-2 border-gray-300 bg-white/80 p-1 px-5 text-black transition duration-200;
}
.btn:hover {
  @apply scale-110 cursor-pointer bg-pink-100;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item {
  box-shadow: 0 0em inset var(--color-pink-200);
  @apply inline-block w-auto px-10 py-3;
}
.nav-item:hover {
  box-shadow: 0 -2.6em inset var(--color-pink-200);
  cursor: pointer;
}

.navmenu-viewport {
  transform-origin: var(--kb-menu-content-transform-origin);
  animation: viewportHide 250ms ease-in forwards;
  z-index: 1000;
}
.navmenu-viewport[data-expanded] {
  animation: viewportShow 250ms ease-out;
}
@keyframes viewportShow {
  from {
    opacity: 0;
    transform: rotateX(-20deg) scale(0.96);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}
@keyframes viewportHide {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.96);
  }
}
.navmenu-content {
  @apply w-50 rounded-md bg-white p-3 shadow-md;
}
.navmenu-label {
  color: rgb(92, 92, 92);

  @apply border-b-2 border-black mb-3;
}
.navmenu-item {
	box-shadow: 0 0 inset var(--color-sky-200);
	width: 100%;
	display: block;

	@apply p-2;
}
.navmenu-item:hover {
	box-shadow: -200px 0 inset var(--color-sky-200);
}